@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "flyonui/dist/flyonui.css"; */

* {
  margin: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.37rem
}

body {
  @apply  text-base; 
}